@charset "utf-8";
		.main{
			position: relative;
			width: 1000px;
			height: 500px;
			margin:0 auto;
			background-image: url("../images/bg2.png") no-repeat;
		}
		.left,.right{
			position: absolute;
			width: 55px;
			height: 70px;
			background-image: url("../images/p3.png");
		}
		.left{
			left: 5px;
			top: 275px;
			background-position: 0px -80px;
		}
		.right{
			right: 5px;
			top: 275px;
			background-position: 0px -153px;
		}
		.left:hover,.right:hover{
			background-color: rgba(0,0,0,0.5)
		}

