@charset "utf-8";
.touxiang{
		width: 200px;
		height: 200px;
		margin:-230px 0px 100px 0px;
		background: url("../images/dog.gif") no-repeat center;
				float:left;
	}
.touxiang	a{
		cursor:crosshair;
		visibility: hidden;
		float:left;
		width: 100%;
		height: 200px;
		padding-top: 50px;
		background-color: rgba(0,0,0,.5);
		color: #FFF;
		font-size: 14px;
		border-radius: 50%;
	}
.touxiang	a p{
		text-align: center;
		line-height: 25px;
	}
.touxiang:hover{background-image: none;}
.touxiang:hover a{visibility: visible;}
.touxiang	a:hover{background: url("../images/jerry.gif") no-repeat center;
height: 300px;width: 300px}

